<a href="https://colab.research.google.com/github/Manith-2001/Projects/blob/main/Heart_Attack_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Extracting Data from uploaded Zip file**

In [ ]:
from zipfile import ZipFile
file_name = 'archive.zip'
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

In [ ]:
data = pd.read_csv('/content/data.csv')
data.head()

   age  sex  cp trestbps chol fbs  ... exang oldpeak slope  ca thal num
0   28    1   2      130  132   0  ...     0     0.0     ?   ?    ?          0
1   29    1   2      120  243   0  ...     0     0.0     ?   ?    ?          0
2   29    1   2      140    ?   0  ...     0     0.0     ?   ?    ?          0
3   30    0   1      170  237   0  ...     0     0.0     ?   ?    6          0
4   31    0   2      100  219   0  ...     0     0.0     ?   ?    ?          0

[5 rows x 14 columns]

# **Data Preprocessing**

In [ ]:
data.rename(columns = {'num       ':'target'}, inplace = True)
data = data.replace('?', 0)
data.head()

        age  sex  cp  trestbps      chol  ...   oldpeak slope  ca thal  target
0 -2.542347    1   2 -0.111147 -1.061271  ... -0.646074     0   0    0       0
1 -2.414117    1   2 -0.632313  0.125947  ... -0.646074     0   0    0       0
2 -2.414117    1   2  0.410019 -2.473097  ... -0.646074     0   0    0       0
3 -2.285888    0   1  1.973518  0.061773  ... -0.646074     0   0    6       0
4 -2.157658    0   2 -1.674645 -0.130749  ... -0.646074     0   0    0       0

[5 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
columns_to_scale = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
data[columns_to_scale] = standard_scaler.fit_transform(data[columns_to_scale])

In [ ]:
data.head()

        age  sex  cp  trestbps      chol  ...   oldpeak slope  ca thal  target
0 -2.542347    1   2 -0.111147 -1.061271  ... -0.646074     0   0    0       0
1 -2.414117    1   2 -0.632313  0.125947  ... -0.646074     0   0    0       0
2 -2.414117    1   2  0.410019 -2.473097  ... -0.646074     0   0    0       0
3 -2.285888    0   1  1.973518  0.061773  ... -0.646074     0   0    6       0
4 -2.157658    0   2 -1.674645 -0.130749  ... -0.646074     0   0    0       0

[5 rows x 14 columns]

In [ ]:
from sklearn.model_selection import train_test_split
y = data['target']
X = data.drop('target', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)

# **Models**
We train 3 different models to monitor which one gives the best performance

The best way to measure these models is to see which one has the highest recall since decreasing False Negatives has higher priority

# **Random Forest Classifier**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

model = RandomForestClassifier(n_estimators = 750, random_state = 1)
model.fit(X_train, y_train)
preds_rf = model.predict(X_test)
accuracy_rf = accuracy_score(y_test, preds_rf)
print(classification_report(y_test, preds_rf))
print('\n')
print("accuracy is {}".format(accuracy_rf*100))

              precision    recall  f1-score   support

           0       0.83      0.91      0.87        33
           1       0.87      0.77      0.82        26

    accuracy                           0.85        59
   macro avg       0.85      0.84      0.84        59
weighted avg       0.85      0.85      0.85        59



accuracy is 84.7457627118644

# **Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
model_lr = lr.fit(X_train, y_train)
preds_lr = lr.predict(X_test)
accuracy_lr = accuracy_score(y_test , preds_lr)
print(classification_report(y_test, preds_lr))
print('\n')
print('accuracy is {}'.format(accuracy_lr*100))

              precision    recall  f1-score   support

           0       0.83      0.91      0.87        33
           1       0.87      0.77      0.82        26

    accuracy                           0.85        59
   macro avg       0.85      0.84      0.84        59
weighted avg       0.85      0.85      0.85        59



accuracy is 84.7457627118644

# **MultiLayer Perceptron**

In [ ]:
from sklearn.neural_network import MLPClassifier
MLP = MLPClassifier(hidden_layer_sizes = (32), learning_rate_init = 0.001, max_iter = 75)
model_mlp = MLP.fit(X_train, y_train)
preds_mlp = MLP.predict(X_test)
accuracy_mlp = accuracy_score(y_test, preds_mlp)
print(classification_report(y_test, preds_mlp) + '\n')
print('accuracy is {}'.format(accuracy_mlp*100))

              precision    recall  f1-score   support

           0       0.76      0.88      0.82        33
           1       0.81      0.65      0.72        26

    accuracy                           0.78        59
   macro avg       0.79      0.77      0.77        59
weighted avg       0.78      0.78      0.78        59


accuracy is 77.96610169491525

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (75) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)